In [1]:
import pandas as pd

In [5]:
dados_voos = pd.read_csv('../dados/dados_basicos_voos.csv', sep=';', encoding='utf-8')
dados_voos.head()

  ICAO Empresa Aérea  Número Voo ICAO Aeródromo Origem
0                AZU        2684                  SBCF
1                AAL         203                  SBPA
2                AAL         203                  SBCT
3                AAL         214                  SBBR
4                AAL         216                  SBGR

In [6]:
def processa_dados():
    dados_voos = pd.read_csv('../dados/dados_basicos_voos.csv', sep=';', encoding='utf-8')
    dados_aeroportos = pd.read_excel('../dados/glossario_de_aerodromo.xls', skiprows=3)

    dados_aeroportos = dados_aeroportos.drop(['Unnamed: 0','País', 'Continente'], axis=1)
    dados_aeroportos.rename(columns={'Sigla OACI': 'ICAO Aeródromo Origem', 'Descrição': 'Nome Aeroporto'}, inplace=True)

    dados_voos = pd.merge(dados_voos, dados_aeroportos, on=['ICAO Aeródromo Origem'])
    return dados_voos

In [7]:
df = processa_dados()

In [8]:
df.head()

,ICAO Empresa Aérea,Número Voo,ICAO Aeródromo Origem,Nome Aeroporto,Cidade,UF
0,AZU,2684,SBCF,TANCREDO NEVES,CONFINS,MG
1,AZU,2411,SBCF,TANCREDO NEVES,CONFINS,MG
2,AZU,2413,SBCF,TANCREDO NEVES,CONFINS,MG
3,AZU,2415,SBCF,TANCREDO NEVES,CONFINS,MG
4,AZU,2416,SBCF,TANCREDO NEVES,CONFINS,MG